

.section.container-image-left-buttons-container {
  background-color: #f5f6fa;
}

/* Main grid layout */
.section.container-image-left-buttons-container
.container-image-left-buttons.block {
  display: grid;
  grid-template-columns: 1fr 1.3fr; /* IMAGE | CONTENT */
  align-items: center;
  gap: 4rem;
  max-width: 1440px;
  margin: 0 auto;
  padding: 4.5rem 3rem;
}


.section.container-image-left-buttons-container
.container-image-left-buttons.block > div:last-child picture img {
  width: 100%;
  height: auto;
  display: block;
}


.section.container-image-left-buttons-container
.container-image-left-buttons.block > div:first-child {
  padding-left: 2rem;
}

.section.container-image-left-buttons-container h2 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
  color: #1b004f;
  margin-bottom: 1.5rem;
}

.section.container-image-left-buttons-container h6 {
  font-size: 1.25rem;
  font-weight: 400;
  color: #3a3a3a;
  max-width: 520px;
  margin-bottom: 2.5rem;
}


.section.container-image-left-buttons-container .button-container {
  margin-bottom: 1.25rem;
}

.section.container-image-left-buttons-container a.button.primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 280px;
  padding: 0.9rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: #1b004f;
  border: 2px solid #1b004f;
  border-radius: 999px;
  background-color: transparent;
  text-decoration: none;
  transition: all 0.25s ease;
}

/* Hover effect */
.section.container-image-left-buttons-container a.button.primary:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}


@media (max-width: 900px) {
  .section.container-image-left-buttons-container
  .container-image-left-buttons.block {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 3rem 1.5rem;
  }

  .section.container-image-left-buttons-container
  .container-image-left-buttons.block > div:first-child {
    padding-left: 0;
  }

  .section.container-image-left-buttons-container h2 {
    font-size: 2.25rem;
  }

  .section.container-image-left-buttons-container h6 {
    font-size: 1.1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .section.container-image-left-buttons-container a.button.primary {
    width: 100%;
    max-width: 320px;
  }
}
