
.section.containerimageleft-container {
  padding-top: 60px;
  overflow: hidden;
  margin: 0;
}

/* Wrapper full width */
.section.containerimageleft-container
.containerimageleft-wrapper {
  max-width: 100%;
  margin: 0;
  padding: 0;
}


.section.containerimageleft-container
.containerimageleft.block {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  align-items: center;
  min-height: 560px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}


.section.containerimageleft-container
.containerimageleft.block
> div:nth-child(4) {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section.containerimageleft-container
.containerimageleft.block img {
  max-width: 420px;
  width: 100%;
  height: auto;
  display: block;
}


.section.containerimageleft-container
.containerimageleft.block
> div:nth-child(-n + 3) {
  grid-column: 2;
  grid-row: 1;
}

/* Create vertical flow */
.section.containerimageleft-container
.containerimageleft.block
> div:nth-child(1),
.section.containerimageleft-container
.containerimageleft.block
> div:nth-child(2),
.section.containerimageleft-container
.containerimageleft.block
> div:nth-child(3) {
  max-width: 560px;
  margin-bottom: 15rem;
}

/* Spacing */
.section.containerimageleft-container
.containerimageleft.block
> div:nth-child(2) {
margin-top: 15rem;
}

.section.containerimageleft-container
.containerimageleft.block
> div:nth-child(3) {
  margin-top: 30rem;
}

/* ================================
   TYPOGRAPHY
================================ */
.section.containerimageleft-container
.containerimageleft.block h2 {
  font-size: clamp(3.125rem, 1.6964rem + 2.9762vw, 4.375rem);
  line-height: 1.2;
  font-family: "Plus Jakarta Sans",Helvetica,Verdana,sans-serif;
  margin: 0;
  color: #0d004dff;
  font-weight: 500;
}

.section.containerimageleft-container
.containerimageleft.block p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333333ff;
  margin-top: 20px;
  margin-bottom: 0;
}

/* ================================
   BUTTON
================================ */
.section.containerimageleft-container
.containerimageleft.block .button-container {
  margin: 0;
}

.section.containerimageleft-container
.containerimageleft.block a.button {
  background-color: #ffce00ff;
  padding: 0.9rem 2.4rem;
  text-decoration: none;
  display: inline-block;
  font-family: "Plus Jakarta Sans",Helvetica,Verdana,sans-serif;  
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  text-wrap: balance;
  text-decoration: none;
  vertical-align: middle;
  border: 0;
  cursor: pointer;
  min-block-size: 2.25rem;
  padding: .375em 1.875em;
  position: relative;
  z-index: 1;
  color: #060609ff;
  margin: 20px 0 0;
}

.section.containerimageleft-container
.containerimageleft.block a.button:hover {
  transition: all .125s ease-in-out;
  transform: scale(1.05);
  background-color: #0d004dff;
  color: #fff;
}

/* ================================
   RESPONSIVE
================================ */
@media (max-width: 900px) {
  .section.containerimageleft-container
  .containerimageleft.block {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 3rem 1.5rem;
  }

  .section.containerimageleft-container
  .containerimageleft.block
  > div:nth-child(4) {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 2.5rem;
  }

  .section.containerimageleft-container
  .containerimageleft.block
  > div:nth-child(-n + 3) {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
