/* ================================
   SECTION BASE
================================ */
.section.container-image-right-container {
  background-color: #0d004dff;
  padding: 0;
  overflow: hidden;
  margin-bottom: 0;
  max-height: 548px;
}

/* Franklin wrapper */
.section.container-image-right-container
.container-image-right-wrapper {
  max-width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

/* ================================
   MAIN GRID
================================ */
.section.container-image-right-container
.container-image-right.block {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  align-items: center;
  min-height: 560px;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 92px;
}

/* ================================
   LEFT CONTENT (TEXT STACK)
================================ */
.section.container-image-right-container
.container-image-right.block
> div:not(:last-child) {
  grid-column: 1;
  z-index: 2;
  padding-left: 6rem;
  max-width: 576px;
}

/* Stack spacing */
.section.container-image-right-container
.container-image-right.block
> div:first-child {
  margin-top: -2rem;
}

.section.container-image-right-container
.container-image-right.block
> div:nth-child(2) {
  margin-top: -11rem;
}

.section.container-image-right-container
.container-image-right.block
> div:nth-child(3) {
  margin-top: -19rem;
}

/* ================================
   TYPOGRAPHY
================================ */
.section.container-image-right-container
.container-image-right.block h2 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
  font-family: "Plus Jakarta Sans",Helvetica,Verdana,sans-serif;
  margin: 0;
  color: #c1bfffff;
}

.section.container-image-right-container
.container-image-right.block h5 {
  font-family: "Plus Jakarta Sans",Helvetica,Verdana,sans-serif;
  font-size: 1.4rem;
  margin: 1rem 0;
  color: #f9f9fcff;
  line-height: 1.4;
  font-weight: 300 !important;
}

.section.container-image-right-container
.container-image-right.block p {
  font-family: "Plus Jakarta Sans",Helvetica,Verdana,sans-serif;
  line-height: 1.6;
  font-size: 1rem;
  font-weight: 400;
  color: #f9f9fcff;
}

/* ================================
   CTA BUTTON
================================ */
.section.container-image-right-container
.container-image-right.block a.button {
  background-color: #ffce00ff;
  text-decoration: none;
  display: inline-block;
  font-family: "Plus Jakarta Sans",Helvetica,Verdana,sans-serif;  
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  text-wrap: balance;
  text-decoration: none;
  vertical-align: middle;
  border: 0;
  cursor: pointer;
  min-block-size: 2.25rem;
  padding: .375em 1.875em;
  position: relative;
  z-index: 1;
  color: #060609ff;
  margin: 20px 0 0;
}

.section.container-image-right-container
.container-image-right.block a.button:hover {
  background-color: #feeb99ff;
  transform: scale(1.05);
  transition: all .125s ease-in-out;
}

/* ================================
   RIGHT IMAGE
================================ */
.section.container-image-right-container
.container-image-right.block
> div:last-child {
  grid-column: 2;
  position: relative;
  height: 100%;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
}

/* Image fill */
.section.container-image-right-container
.container-image-right.block picture,
.section.container-image-right-container
.container-image-right.block img {
  width: 100%;
  height: 548px;
  object-fit: cover;
  display: block;
}

/* ================================
   GRADIENT OVERLAY
================================ */
.section.container-image-right-container
.container-image-right.block
> div:last-child::before {
  content: "";
  display: block;
  position: absolute;
  inset-block: calc(-1 * 92px) calc(-1 * 92px);
  inset-inline-start: calc(-1 * calc(0px * 1) - 1px);
  inline-size: 66%;
  background: linear-gradient(90deg, #0d004dff calc(90% - 300px), rgba(from #0d004dff r g b / .6) calc(calc(90% - 300px) - -104px), transparent calc(calc(90% - 300px) - -383px));
  z-index: 1;
}

.section.container-image-right-container
.container-image-right.block picture {
  position: relative;
  z-index: 0;
}

/* ================================
   RESPONSIVE
================================ */
@media (max-width: 900px) {
  .section.container-image-right-container
  .container-image-right.block {
    grid-template-columns: 1fr;
    padding: 3rem 1.5rem;
  }

  .section.container-image-right-container
  .container-image-right.block
  > div:not(:last-child) {
    grid-column: 1;
    text-align: center;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .section.container-image-right-container
  .container-image-right.block
  > div:last-child {
    grid-column: 1;
    min-height: 320px;
    margin-bottom: 2rem;
  }

  .section.container-image-right-container
  .container-image-right.block p {
    margin: 0 auto;
  }
}
